@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$kbcolor: #818384;
$kbdcolor: #525455;
$letterboard: #3A3A3C;
$fadeColor: #393a3b;

html {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	overflow: hidden;
}

body {
	background-color: #1e1e1e;
  	color: white;
}	

#titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	font-size: 40px;

	button {
		padding: 15px 45px;
	}
}

#modeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
	flex-direction: column;
}

#modeButtonContainer {
	display: flex;
	gap: 10px;
}

#gameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
}

.keyboard {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	div {
		display: flex;
	}

	.keyboard-button {
		background-color: $kbcolor;
		font-size: 1rem;
		font-weight: 700;
		padding: 0.8rem;
		margin: 0 2px;
		cursor: pointer;
		text-transform: uppercase;
		user-select: none;
		border-radius: 3px;
		transition: 0.3s;

		&:hover {
			background-color: $kbdcolor;
		}
	}

	.second-row {
		margin: 0.5rem 0;
	}

	.i-key {
		padding: 0.8rem 1rem;
	}

	.letterFade {
		opacity: 25%;

		&:hover {
			background-color: $kbcolor;
		}
	}
}

.game-board {
	display: flex;
	align-items: center;
	flex-direction: column;

	.letter-box {
		border: 2px solid #333;
		border-radius: 3px;
		margin: 2px;
		font-size: 1.9rem;
		font-weight: 700;
		height: 3.5rem;
		width: 3.5rem;
		display: flex;
		user-select: none;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
	}

	.filled-box {
		border: 2px solid black;
	}

	.letter-row {
		display: flex;
	}

	.correctLetter {
		background-color: #333;
		color: green;
	}

	.wrongLetter {
		background-color: #333;
	}

	.containsLetter {
		background-color: #333;
		color: yellow;
	}
}

#gameMessage {
	text-align: center;
	color: white;
}